<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.freelims.dev.backend</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/shaun/Documents/GitHub/projects/freelims/scripts/system/dev/run_dev_backend.sh</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/shaun/Documents/GitHub/projects/freelims</string>
    <key>StandardOutPath</key>
    <string>/Users/shaun/Documents/GitHub/projects/freelims/logs/dev_backend.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/shaun/Documents/GitHub/projects/freelims/logs/dev_backend_error.log</string>
    <key>KeepAlive</key>
    <true/>
    <key>RunAtLoad</key>
    <true/>
</dict>
</plist>
