[Unit]
Description=FreeLIMS Development Frontend
After=network.target freelims-dev-backend.service

[Service]
Type=simple
User=shaun
WorkingDirectory=/Users/shaun/Documents/GitHub/projects/freelims
ExecStart=/Users/shaun/Documents/GitHub/projects/freelims/scripts/system/dev/run_dev_frontend.sh
Restart=always
RestartSec=10
StandardOutput=append:/Users/shaun/Documents/GitHub/projects/freelims/logs/dev_frontend.log
StandardError=append:/Users/shaun/Documents/GitHub/projects/freelims/logs/dev_frontend_error.log

[Install]
WantedBy=multi-user.target
